@media screen and (max-width: 1200px) {
    .banner .container .bn_sc img {
        width: 50%;
    }
    .banner .container .bn_sc .bn_sale{
        width: 50%;
    }
    .banner .container .bn_sc .bn_sale .bn3 {
        width: 100%;
    }
    .banner .container .bn_sc .bn_sale .freeship .img_fs{
        width: 100%;
    }
    .footer .container .content ul {
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) {
    .new_product .container ul li, .primary_product .container ul li {
        width: calc(33.3% - 15px);
        margin-bottom: 20px;
    }
    .header .container .logo h2 {
        font-size: 32px;
        text-transform: uppercase;
    }
    .footer .container .content ul {
        font-size: 12px;
    }
    .footer .container .copyright {
        font-size: 12px;
    }
}
@media screen and (max-width: 870px) {
    .header .container .btn .menu {
        display: inline-block;
    }
    .navigation .container .nav label{
        display: block;
    }
    .navigation .container .nav label:hover{
        background-color: #007bff;
        color: white;
        
    }
    #toggle_1:checked + .menu_1 {
        display: block;
    }
    .navigation .container .nav ul li {
        font-size: 14px;
        padding: 10px 0;
    }
    .navigation .container .nav .menu_1{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px 0;
        width: 300px;
        height: 70vh;
        background-color: white;
        z-index: 100;
        border: 1px solid #007bff;
    }
    .navigation .container .nav ul li {
        height: auto;
;
    }
    .navigation .container .nav .menu_1 a{
        width: 100%;
        text-align: center;
    }
    .navigation .container .nav .menu_1 a li{
        width: 100%;
    }
    .navigation .container .btn {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .banner .container .bn_pr .content {
        font-size: 28px;
    }
    .header .container{
        position: relative;
    }
    .header .container .nav {
        flex: 1;
    }
    .header .container .nav label{
        display: block;
    }
    .header .container .nav label:hover{
        background-color: #007bff;
        color: white;
        
    }
    #toggle:checked + .menu {
        display: block;
    }
    .header .container .nav .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 0;
        width: 300px;
        height: 70vh;
        background-color: white;
        z-index: 1000;
        border: 1px solid #007bff;
    }
    .header .container .nav .menu a{
        width: 100%;
    }
    .header .container .nav .menu a li{
        width: 100%;
    }
    .header .container .btn .menu {
        display: inline-block;
    }
    .navigation .container .btn {
        display: block;
    }
    .footer .container .content ul {
        font-size: 10px;
    }
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 30%;
    }
}
@media screen and (max-width: 740px) {
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 27%;
    }
    .banner .container .bn_pr .content {
        top: 36%;
        left: 15%;
        font-size: 24px;
        
        text-align: center;
    }
    .header {
        height: 60px;
    }
    .header .container .logo h2 {
        font-size: 26px;
        text-transform: uppercase;
    }

}
@media screen and (max-width: 660px) {
    .footer .container .content {
        padding: 30px 0;
    }
    .footer .container .content ul {
        flex-direction: column;
        font-size: 14px;
    }
    .banner .container .bn_sc {
        flex-direction: column;
    }
    .banner .container .bn_sc img {
        width: 100%;
        max-height: 350px;
    }
    .banner .container .bn_sc .bn_sale {
        width: 100%;
    }
    .banner .container .bn_sc .bn_sale .bn3 {
        margin-top: 10px;
        padding-left: 0;
        object-fit: cover;
    }
    .banner .container .bn_sc .bn_sale .freeship {
        padding: 0;
    }
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 38%;
        top: 30%;
    }
    .new_product .container ul li, .primary_product .container ul li {
        width: calc(50% - 7.5px);
    }
    .new_product .container ul li img, .primary_product .container ul li img {
        max-height: 400px;
    }
}
@media screen and (max-width: 570px) {
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 35%;
    }
}
@media screen and (max-width: 540px) {
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 33%;
        
    }
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 35%;
    }
    .header .container .logo h2 {
        font-size: 22px;
        text-transform: uppercase;
    }
    .banner .container .bn_sc .bn_sale .freeship .content {
        font-size: 18px;
    }
}
@media screen and (max-width: 490px) {
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 33%;
        
    }
    .banner .container .bn_sc .bn_sale .freeship .content {
        font-size: 16px;
    }
    .banner .container .bn_sc .bn_sale .freeship .content h3 {
        font-size: 19px;
    }
    .banner .container .bn_pr .content {
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .new_product .container ul li, .primary_product .container ul li {
        width: 100%;
    }
    .navigation .container .nav .menu_1{
        width: 100%;
        top: 115px;
        height: auto;
    }
    .header .container .nav .menu{
        top: 60px;
        padding: 30px 0;
        width: 100%;
        height: auto;
    }

}
@media screen and (max-width: 320px) {
    .navigation .container .form_search form .ip_search {
        display: none;
    }
    .navigation .container .form_search form {
        width: auto;
    }
}
@media screen and (max-width: 280px){
    .banner .container .bn_sc .bn_sale .freeship .content {
        left: 26%;
    }
}
